img.logo{
    width:60px;
    height:60px
}
a.login{
    position: absolute;
  top: 40;
  left: 70;
}
html, body,div.outer-container {
    margin: 0;
    height: 100%;
    width:100%;
    background-color: #E0E0E0;
}
img.social-media{
    height:20px;
    width:22px ;
}
header,footer{
    background-color: rosybrown;
}