img.radisson-blu
{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
div.booking-details{
    margin-right: 4%;
    margin-bottom: 1%;
    margin-left: 4%;
}
div.hotel-description{
    margin-right: 4%;
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 2%;

}