img.city-image{  
  height: 150px;
  width: 150px;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 25%;
  
}
div.searchBar{
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.city-images
{
  margin-left: 14%;
  margin-right: 14%;
}